.matapila-section {
  padding-top: 70px;
  padding-bottom: 100px;
}

.matapila-section-wrapper {
  display: flex;
  justify-content: space-between;
}

.carousel-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel {
  margin-top: 50px;
  width: 490px;
  position: relative;
}

.carusel-section-title {
  display: none;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0b132a;
  margin-top: 0;
  margin-bottom: 20px;
}

/* CONTROLS */
.btn-arrow {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
  cursor: pointer;
  color: #dde0e4;
}

.btn-arrow:hover {
  background-color: #1fb765;
  color: #fff;
}

.btn-arrow:active {
  background-color: #147e45;
  color: #fff;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* SLIDES */
.inner {
  position: relative;
  width: 334px;
  height: 283px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 113px;
}

.slide {
  position: absolute;
  width: 334px;
  height: 283px;
  transition: all 0.3s;
}

/* DOTS */
.dots {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.dot {
  width: 15px;
  height: 15px;

  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.dot:hover {
  background-color: #26a561;
}

.dot--active {
  width: 30px;
  height: 15px;
  border-radius: 10px;
  background-color: #147e45;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.matapila-section-end {
  width: 526px;
}

.matapila-section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0b132a;
  margin-top: 0;
  margin-bottom: 15px;
}
.made-country {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #0b132a;
  margin-top: 0;
  margin-bottom: 15px;
}
.matapila-section-box-subtitle {
  margin-bottom: 30px;
}
.matapila-section-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #4f5665;
}

.matapila-section-subtitle:last-child {
  margin-bottom: 0px;
}

/* .part-section-list{
  margin-bottom: 41px;
} */

.matapila-section-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.matapila-section-item:last-child {
  margin-bottom: 0px;
}

.matapila-section-item-img {
  margin-right: 15px;
}
.matapila-section-chance {
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.matapila-section-buy {
  position: relative;
  width: 300px;
  height: 60px;
  margin-top: 41px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  background-color: #147e45;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.matapila-section-buy::before {
  position: absolute;
  content: "";
  display: block;
  width: 256px;
  height: 60px;
  background-color: rgba(20, 126, 69, 0.35);
  filter: blur(27px);
  border-radius: 10px;
  z-index: -1;
  left: 0;
  right: 0;
}

.matapila-section-buy:active {
  background-color: #1fb765;
}

@media only screen and (max-width: 1100px) {
  .carousel {
    width: 400px;
  }

  .inner {
    width: 300px;
    height: 260px;
    margin-bottom: 90px;
  }

  .slide {
    position: absolute;
    width: 300px;
    height: 260px;
    transition: all 0.3s;
  }

  .matapila-section-end {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .matapila-section {
    padding-top: 0px;
    padding-bottom: 100px;
  }
  .matapila-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    width: 650px;
    margin-bottom: 50px;
  }
  .btn-arrow {
    display: none;
  }
  .carusel-section-title {
    display: block;
  }

  .inner {
    width: 500px;
    height: 300px;
    margin-bottom: 0px;
  }

  .slide {
    width: 500px;
    height: 300px;
  }

  .matapila-section-end {
    width: 100%;
  }

  .matapila-section-title {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .carousel {
    margin-top: 0;
    width: 480px;
    margin-bottom: 50px;
  }
  .carusel-section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #0b132a;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .inner {
    width: 350px;
    height: 290px;
    margin-bottom: 0px;
  }

  .slide {
    width: 350px;
    height: 290px;
    transition: all 0.3s;
  }
}

@media only screen and (max-width: 480px) {
  .matapila-section {
    padding-bottom: 60px;
  }
  .carousel {
    margin-top: 0;
    width: 420px;
    margin-bottom: 50px;
  }
  .carusel-section-title {
    font-size: 23px;
    line-height: 35px;
    color: #0b132a;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .inner {
    width: 270px;
    height: 240px;
    margin-bottom: 0px;
  }

  .slide {
    width: 270px;
    height: 240px;
    transition: all 0.3s;
  }

  .dot {
    width: 12px;
    height: 12px;

    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .dot--active {
    width: 25px;
    height: 12px;
    border-radius: 10px;
    background-color: #147e45;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@media only screen and (max-width: 375px) {
  .matapila-section {
    padding-bottom: 28px;
  }
  .carousel {
    margin-top: 0;
    width: 370px;
    margin-bottom: 16px;
  }
  .carusel-section-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #0b132a;
  }

  .inner {
    width: 230px;
    height: 200px;
    margin-bottom: 0px;
  }

  .slide {
    width: 230px;
    height: 200px;
    transition: all 0.3s;
  }
}

/* ****** JOBS SECTION STYLE START ****** */
.Jobs-section {
  padding-bottom: 121px;
}

.Jobs-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Jobs-section-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.Jobs-section-subtitle {
  width: 100%;
  max-width: 513px;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.Jobs-section-logo {
  font-weight: 700;
}
.Jobs-section-btn {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  background: #147e45;
  box-shadow: 0px 4px 20px rgba(13, 77, 42, 0.33);
  border-radius: 10px;
  border: none;
}
.Jobs-section-img {
  width: 422px;
  height: 316px;
}

.Jobs-section-img-title {
  display: none;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}

@media only screen and (max-width: 800px) {
  .Jobs-section {
    padding-bottom: 70px;
  }

  .Jobs-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Jobs-section-img-title {
    display: block;
  }
  .Jobs-section-title {
    display: none;
  }
  .Jobs-section-box {
    order: 2;
  }

  .Jobs-section-BoxImg {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 375px) {
  .Jobs-section {
    padding-bottom: 39px;
  }
  .Jobs-section-img {
    width: 281px;
    height: 200px;
  }
  .Jobs-section-img-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #0b132a;
  }
  .Jobs-section-subtitle {
    width: 100%;
    max-width: 351px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 28px;
  }
  .Jobs-section-btn {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
/* ****** JOBS SECTION STYLE END ****** */

/* ******** PRODUCT SECTION STYLE START ***** */
.product-section {
  padding-bottom: 127px;
}

.product-section-name {
  margin-top: 0;
  margin-bottom: 127px;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #0b132a;
}

.product-section-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-section-item {
  display: flex;
}
.product-section-item:first-child{
  padding-right: 49px;
  border-right: 2px solid #EEEFF2;
}

.product-section-item:last-child{
  margin-left: 49px;
}
.product-section-img {
  margin-right: 38px;
}


.product-section-title {
  margin-top: 0;
  margin-bottom: 12px;
  width: 100%;
  max-width: 183px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #0b132a;
}
.product-section-subtitle {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 17px;
  line-height: 25px;
  color: #4f5665;
}
.product-section-btn {
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #147e45;
  background: #ffffff;
  border: 2px solid #147e45;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  .product-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .product-section-item:first-child{
    padding-right: 0px;
    border-right: none;
    border-bottom: 2px solid #EEEFF2;
    padding-bottom: 36px;
  }
  
  .product-section-item:last-child{
    margin-left: 0px;
    padding-top: 36px;
  }
}

@media only screen and (max-width: 560px) {
  .product-section-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-section-name {
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 20px;
    line-height: 41px;
    color: #0b132a;
  }
  .product-section-img {
    margin-right: 0px;
    margin-bottom: 36px;
  }
  

  .product-section-title {
    margin-top: 0;
    margin-bottom: 12px;
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #0b132a;
  }
  .product-section-subtitle {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 17px;
    line-height: 25px;
    color: #4f5665;
  }

  
}

/* ******** PRODUCT SECTION STYLE END ***** */
